/bbs.jsp
/deleteAction.jsp
/fileList.jsp
/header.jsp
/index.jsp
/join.jsp
/joinAction.jsp
/login.jsp
/loginAction.jsp
/logoutAction.jsp
/main.jsp
/update.jsp
/updateAction.jsp
/upload.jsp
/uploadAction.jsp
/veiw.jsp
/write.jsp
/writeAction.jsp
